/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Contact Form Styles */
  .contact-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  }
  
  .contact-form h1 {
    text-align: center;
    color: #110e0e;
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #1f1919;
    outline: none;
  }
  
  .contact-form button {
    background-color: #110f0f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .contact-form button:hover {
    background-color: #070707;
  }
  
  /* Contact Information Styles */
  .contact-info {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  }
  
  .contact-info h2 {
    color: #1a1a1b;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .contact-info ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.8;
  }
  
  .contact-info li {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .contact-info strong {
    font-weight: bold;
    color: #333;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .contact-form, .contact-info {
      max-width: 100%;
      margin: 10px;
      padding: 20px;
    }
  }
  